//-agenda
mj-section(background-color="#dce6ef" padding="20px 17px")
    mj-group(width="100%")
        each affiche in affichesList
            mj-column( width="33.333333%" padding="8px")
                mj-image(padding="0" fluid-on-mobile="true" width="300px" src=affiche.image alt=affiche.alt)/