//- Article de base 
mj-section(padding-left='17px' padding-right='17px' direction="rtl")
    mj-column(width='50%' padding='8px')
        mj-image(padding='0' width='480px' fluid-on-mobile='true' target='_blank' src='https://i.ibb.co/QFd5NrS6/graphisme01.png' alt="Calendrier Parcoursup 2025")/
    mj-column(width='50%' padding='8px')
        mj-divider
        mj-text(padding='5px 0' align='left' mj-class="H28-300 cO") Parcoursup 2025&nbsp;: le calendrier
        mj-text(padding='5px 0' mj-class="T16-300 c") Découvrez avec ce document de notre partenaire "L'Etudiant", les grandes dates et étapes qui rythment la procédure #[span(style="font-weight:700;color:#2D3748;") Parcoursup]. À vos agendas et à vos validations pour la prochaine étape... #[span(style="font-weight:700;color:#2D3748;") Ecosup Campus vous accompagne&nbsp;!]
        mj-text(padding='5px 0' mj-class="T10-300 c" font-style="italic") Source : L'Étudiant