//- Article de base 
mj-wrapper(padding="20px 17px")
    mj-section(padding='0' direction="rtl")
        mj-column(width='60%' padding='8px' vertical-align="middle" )
            mj-image(padding='0' width='480px' fluid-on-mobile='true' target='_blank' src='./images/parcoursup.png' href='./images/parcoursup.png' alt='Semaine de regroupement: immersion et découvertes pour les BTS MCO')/
        mj-column(width='40%' padding='8px' vertical-align="middle")
            mj-divider
            mj-text(padding='0' align='left' mj-class="H28-300 cO") Validez vos choix Parcoursup sans engagement&nbsp;!
    mj-section(padding='0')
        mj-column(width='50%' padding='8px')
            mj-text(padding='0' mj-class="T16-300 c") Bonne nouvelle pour les futurs étudiants&nbsp;! #[span(style="font-weight:700;color:#2D3748;") Saviez-vous que valider un choix sur Parcoursup ne vous engage pas définitivement&nbsp;?]
            mj-text(padding='5px 0' mj-class="T16-300 c") En confirmant vos vœux, vous ouvrez simplement la porte aux échanges avec les écoles et les entreprises, notamment si vous visez une formation en alternance.
            mj-text(padding='10px 10px 2.5px 10px' container-background-color="#dce6ef" mj-class="T16-700 cB") Pourquoi c'est important&nbsp;?
            mj-text(padding='2.5px 10px' container-background-color="#dce6ef" mj-class="T16-300 c") #[span(style="color:#EC6608;") &#9632;] Vous permettez aux établissements de vous contacter et de vous accompagner.
            mj-text(padding='2.5px 10px' container-background-color="#dce6ef" mj-class="T16-300 c") #[span(style="color:#EC6608;") &#9632;] Vous augmentez vos chances de trouver une entreprise rapidement.
            mj-text(padding='2.5px 10px 10px 10px' container-background-color="#dce6ef" mj-class="T16-300 c") #[span(style="color:#EC6608;") &#9632;] Vous gardez la liberté de choix jusqu'aux réponses définitives.
        mj-column(width='50%' padding='8px')
            mj-text(padding='0' mj-class="T16-300 c") #[span(style="font-weight:700;color:#2D3748;") Ne tardez pas&nbsp;!] Les campagnes d'alternance sont en pleine effervescence, c'est le moment de saisir votre opportunité. #[span(style="color:#2D3748;font-weight:700;") Validez vos choix dès maintenant&nbsp;!]
            mj-text(padding='10px 10px 2.5px 10px' container-background-color="#dce6ef" mj-class="T16-700 cB") Nos conseils pour ne rien oublier&nbsp;:
            mj-text(padding='2.5px 10px' container-background-color="#dce6ef" mj-class="T16-300 c") #[span(style="color:#EC6608;") &#9632;] Vérifiez que toutes les rubriques sont complétées,
            mj-text(padding='2.5px 10px' container-background-color="#dce6ef" mj-class="T16-300 c") #[span(style="color:#EC6608;") &#9632;] Soignez votre lettre de motivation et mettez en avant vos expériences,
            mj-text(padding='2.5px 10px' container-background-color="#dce6ef" mj-class="T16-300 c") #[span(style="color:#EC6608;") &#9632;] Ajoutez les pièces complémentaires demandées par certaines formations,
            mj-text(padding='2.5px 10px 10px 10px' container-background-color="#dce6ef" mj-class="T16-700 cB") #[span(style="color:#EC6608;") &#9632;] Confirmez vos vœux pour qu'ils soient transmis aux établissements,
            mj-text(padding='5px 0' mj-class="T10-300 c" font-style="italic") Source : Parcoursup - Guide officiel 2024
            mj-text(align='right' mj-class="LP14-700") #[a(href='https://www.parcoursup.gouv.fr/candidater-sur-parcoursup/nos-conseils-pour-completer-votre-dossier-et-confirmer-vos-voeux-1631' style='color:#EC6608;text-decoration:none;' target='_blank') En savoir plus...]