//- Article de base
mj-wrapper(background-color="#dce6ef" padding="20px 17px")
    mj-section(padding='0' direction="rtl")
        mj-column(padding='8px')
            mj-image(padding='0' width='480px' fluid-on-mobile='true' target='_blank' src='https://i.ibb.co/Nd7b7NRz/one.png' href='https://ecosup-commerce.fr/alternance-modele-educatif-vent-en-poupe' alt="L'alternance, un modèle éducatif qui a le vent en poupe ")/
        mj-column(padding='8px' vertical-align="bottom")
            mj-divider
            mj-text(padding='5px 0' align='left' mj-class="H28-300 cO") Parcoursup&nbsp;: La lettre de recommandation, un atout à ne pas négliger&nbsp;!
            mj-text(padding='5px 0' mj-class="T16-300 c") Pour faire la différence sur #[span(style="font-weight:700;color:#2D3748;") Parcoursup], une #[span(style="font-weight:700;color:#2D3748;") lettre de recommandation] peut être un véritable atout. Elle permet de mettre en valeur vos qualités, votre engagement et votre sérieux à travers le regard d'un enseignant ou d'un professionnel.
            mj-text(padding='5px 0' padding-left="15px" mj-class="T16-300 c") - Comment bien la demander&nbsp;?
            mj-text(padding='5px 0' padding-left="15px" mj-class="T16-300 c") - À qui sadresser&nbsp;?
            mj-text(padding='5px 0' padding-left="15px" mj-class="T16-300 c") - Quels éléments doivent y figurer&nbsp;?
            mj-text(padding='5px 0' mj-class="T16-300 c") #[span(style="font-weight:700;color:#2D3748") EcoSup Campus vous explique tout&nbsp;!]
            mj-text(align='right' mj-class="LP14-700 cO") #[a(href='#' style='color:#EC6608;text-decoration:none;' target='_blank') Lire l'article...]