//- Edito Rentrée2024
mj-section(padding-top='10px' padding-bottom='40px')
    mj-column(width='88%') 
        mj-text(padding-top='5px' padding-bottom='0' mj-class="H14-900 cO" text-transform='uppercase') Édito
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="H20-700 cOF" font-style="normal") Faites le bon choix sans stress&nbsp;!
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') La période des recherches, des choix et des validations d'écoles est une étape clé de votre parcours. #[span(style="font-weight:700;color:#2D3748;") Un moment excitant, mais aussi source de questionnements]. C'est pourquoi nos équipes sont là pour vous accompagner. #[span(style="font-weight:700;color:#2D3748;") Ne restez pas seuls, nous sommes à vos côtés&nbsp;!]
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') #[span(style="font-weight:700;color:#2D3748;") Pourquoi valider votre choix EcoSup sur Parcoursup dès maintenant&nbsp;?]
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') En confirmant vos vœux, vous nous permettez de vous contacter et de vous guider dans votre projet. #[span(style="font-weight:700;color:#2D3748;") Si vous avez choisi l'alternance, c'est encore plus essentiel&nbsp;!] Cette validation nous permettra de vous accompagner activement dans votre recherche d'entreprise&nbsp;! 
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') #[span(style="font-weight:700;color:#2D3748") Rassurez-vous : valider un choix ne signifie pas un engagement définitif&nbsp;!] Vous avez jusqu'à 10 choix possibles, alors profitez de cette opportunité pour multiplier vos chances...
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') #[span(style="font-weight:700;color:#2D3748;") Les campagnes d'alternance battent leur plein !] Les entreprises recrutent maintenant, et plus tôt vous validez votre choix, plus vite nous pourrons vous mettre en relation avec celles qui correspondent à votre projet. L'alternance est une véritable opportunité pour votre avenir, et nous sommes là pour vous aider à la saisir.
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') #[span(style="font-weight:700;color:#2D3748;") Un conseil : n'attendez pas la dernière minute&nbsp;!] Prenez une longueur d'avance et mettez toutes les chances de votre côté en confirmant votre choix dès aujourd'hui.
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') #[span(style="font-weight:700;color:#2D3748") Osez franchir le pas et assurez votre avenir avec EcoSup&nbsp;!]
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T16-300 c" font-style='italic') À très bientôt,
 
 
 
 
 
