extends templates/_layout
block content
    mj-section(background-color="#dce6ef")
        mj-column
            mj-image(align="left" width="150px" src="https://i.ibb.co/C5Q0SSF/logo-Commerce112024.png" alt="logo Ecosup Commerce")/
    mj-section(padding="0")
        mj-column(background-color="#f77a22")
            mj-text(align='left' mj-class="T16-400" color='#2D3748') Newsletter Ecosup Campus / #[span(style='font-weight:700;color:#ffffff') Mars 2025]